@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Домашняя страница сайта</h1>
    <br />
    <form asp-action="GoToRegister" method="post">
        <button type="submit" class="btn btn-primary">Перейти к регистрации</button>
    </form>
</div>