@{
    ViewData["Title"] = "Кабинет пользователя";
}
<form asp-action="SuccessVerify" method = "post">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <br />
        <p>Поздравляем вас с успешной регистрацией! Добро пожаловать в ваш кабинет</p>
    </div>
</form>