@{
    ViewData["Title"] = "Verify";
}
<h2>Введите код c почты</h2>
@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}

<form asp-action="Verify" method="post">
    <div>
        <label for="code">Введите код:</label>
        <input type="number" id="code" name="code" required />
        <input type="hidden" name="email" value="@ViewBag.Email" />
    </div>
    <button type="submit">Подтвердить</button>
</form>